.topbar {
    background-color: #231F20;
    height: 30px;
    color: #fff;

    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media(max-width: 768px) {
            justify-content: center;
        }
    }

    span {
        margin: 0 5px;
    }

    a {
        color: #fff;
        font-weight: bold;
        font-size: 14px;
    }

    .container {
        display: flex;
        align-items: center;
    }
}

.container-logo div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 400px;

        @media(max-width: 768px) {
            width: 180px;
            margin-right: 40px;
        }
    }

    .input-buscar {
        font-weight: bolder;
        width: 110px;
        height: 44px;
        background-color: #CB0D1F;
        border: none;
        color: #ffff;
        cursor: pointer;
    }

    .input-input {
        height: 40px;
        width: 414px;
        border-radius: 0px;
        border: 1px solid #959595;
        border-width: thin;

        @media(max-width: 1024px) {
            width: 247px
        }
    }

    form {
        @media(max-width: 768px) {
            display: none;
        }
    }
}

.menu-desktop {
    background-color: #CB0D1F;
    height: 54px;

    ul {
        display: flex;
        align-items: center;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            color: #fff;
            font-weight: bolder;
            margin-right: 75px;
            a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
            }

            @media(max-width: 1024px) {
                margin-right: 45px;
            }
        }
    }

    @media(max-width: 768px) {
        display: none;
    }
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 2;
    display: flex;
    align-items: flex-start!important;
    justify-content: center!important;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.hamburger-react {
    @media(min-width: 768px) {
        display: none!important;
    }
    padding-left: 20px;
}